.tech {
  background-color: #bed23c;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding: 10px;
  position: relative;
  left: 10px;
  top: 10px;
}

.tech:before {
  content: "";
  border: solid 2px;
  border-radius: 10px;
  border-color: #bed23c;
  position: absolute;
  transition: top left 0.5s ease;
  top: -10px;
  left: -10px;
  width: 200px;
  height: 300px;
  z-index: -1;
}

.tech-logo {
  width: 60%;    
}

.release {
  font-weight: bold;
} 

.tech p {
  text-align:center;    
}
